<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>identifier</key>
		<string>WidgetUT.framework</string>
		<key>name</key>
		<string>WidgetUT</string>
		<key>icon</key>
		<string>item.png</string>
		<key>version</key>
		<string>v1.0</string>
		<key>type</key>
		<string>app</string>
		<key>remoteUrl</key>
		<string></string>
		<key>localUrl</key>
		<string></string>
		<key>size</key>
		<integer>67434</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>identifier</key>
		<string>mmlTest.framework</string>
		<key>name</key>
		<string>mmlTest</string>
		<key>icon</key>
		<string>item.png</string>
		<key>version</key>
		<string>v1.0</string>
		<key>type</key>
		<string>app</string>
		<key>remoteUrl</key>
		<string></string>
		<key>localUrl</key>
		<string></string>
		<key>size</key>
		<integer>7398</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>101</integer>
		<key>identifier</key>
		<string>MRJSTestBundle.framework</string>
		<key>name</key>
		<string>JSTest</string>
		<key>icon</key>
		<string></string>
		<key>version</key>
		<string>V2.0.1</string>
		<key>type</key>
		<string>app</string>
		<key>remoteUrl</key>
		<string></string>
		<key>localUrl</key>
		<string></string>
		<key>size</key>
		<integer>7498</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>102</integer>
		<key>identifier</key>
		<string>MRNetwork.framework</string>
		<key>name</key>
		<string>MRNetwork</string>
		<key>icon</key>
		<string></string>
		<key>version</key>
		<string>V2.4.1</string>
		<key>type</key>
		<string>lib</string>
		<key>remoteUrl</key>
		<string>http://w3m-beta.huawei.com/m/Service/ClientDownloadServlet?osType=1&amp;appId=mcloud_mrNetwork&amp;flag=0</string>
		<key>localUrl</key>
		<string></string>
		<key>size</key>
		<integer>7495</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>103</integer>
		<key>identifier</key>
		<string>TestLogBundle.framework</string>
		<key>name</key>
		<string>TestLogBundle</string>
		<key>icon</key>
		<string>item.png</string>
		<key>version</key>
		<string>V2.4.1</string>
		<key>type</key>
		<string>app</string>
		<key>remoteUrl</key>
		<string></string>
		<key>localUrl</key>
		<string></string>
		<key>size</key>
		<integer>7488</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>104</integer>
		<key>identifier</key>
		<string>MREdocUIBundle.framework</string>
		<key>name</key>
		<string>MREdocUIBundle</string>
		<key>icon</key>
		<string></string>
		<key>version</key>
		<string>V2.4.1</string>
		<key>type</key>
		<string>app</string>
		<key>remoteUrl</key>
		<string></string>
		<key>localUrl</key>
		<string></string>
		<key>size</key>
		<integer>7388</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>105</integer>
		<key>identifier</key>
		<string>MRMultiDownload.framework</string>
		<key>name</key>
		<string>MRMultiDownload</string>
		<key>icon</key>
		<string></string>
		<key>version</key>
		<string>V2.4.1</string>
		<key>type</key>
		<string>lib</string>
		<key>remoteUrl</key>
		<string></string>
		<key>localUrl</key>
		<string></string>
		<key>size</key>
		<integer>7588</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>106</integer>
		<key>identifier</key>
		<string>LogBundle.framework</string>
		<key>name</key>
		<string>LogBundle</string>
		<key>icon</key>
		<string></string>
		<key>version</key>
		<string>V2.4.1</string>
		<key>type</key>
		<string>lib</string>
		<key>remoteUrl</key>
		<string></string>
		<key>localUrl</key>
		<string></string>
		<key>size</key>
		<integer>7588</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>107</integer>
		<key>identifier</key>
		<string>MREdocDownloadBundle.framework</string>
		<key>name</key>
		<string>MREdocDownloadBundle</string>
		<key>icon</key>
		<string></string>
		<key>version</key>
		<string>V2.2.1</string>
		<key>type</key>
		<string>lib</string>
		<key>remoteUrl</key>
		<string></string>
		<key>localUrl</key>
		<string></string>
		<key>size</key>
		<integer>7578</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>108</integer>
		<key>identifier</key>
		<string>DBBundle.framework</string>
		<key>name</key>
		<string>DBBundle</string>
		<key>icon</key>
		<string></string>
		<key>version</key>
		<string>V2.1.1</string>
		<key>type</key>
		<string>lib</string>
		<key>remoteUrl</key>
		<string></string>
		<key>localUrl</key>
		<string></string>
		<key>size</key>
		<integer>8588</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>109</integer>
		<key>identifier</key>
		<string>MRConfigBundle.framework</string>
		<key>name</key>
		<string>MRConfigBundle</string>
		<key>icon</key>
		<string></string>
		<key>version</key>
		<string>V2.1.1</string>
		<key>type</key>
		<string>lib</string>
		<key>remoteUrl</key>
		<string></string>
		<key>localUrl</key>
		<string></string>
		<key>size</key>
		<integer>8588</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>110</integer>
		<key>identifier</key>
		<string>MREDocBundle.framework</string>
		<key>name</key>
		<string>MREDocBundle</string>
		<key>icon</key>
		<string></string>
		<key>version</key>
		<string>V2.0.1</string>
		<key>type</key>
		<string>lib</string>
		<key>remoteUrl</key>
		<string></string>
		<key>localUrl</key>
		<string></string>
		<key>size</key>
		<integer>8508</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>111</integer>
		<key>identifier</key>
		<string>MRSpeechBundle.framework</string>
		<key>name</key>
		<string>MRSpeechBundle</string>
		<key>icon</key>
		<string></string>
		<key>version</key>
		<string>V2.0.1</string>
		<key>type</key>
		<string>lib</string>
		<key>remoteUrl</key>
		<string></string>
		<key>localUrl</key>
		<string></string>
		<key>size</key>
		<integer>8508</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>112</integer>
		<key>identifier</key>
		<string>MRSpeechTestBundle.framework</string>
		<key>name</key>
		<string>MRSpeechTestBundle</string>
		<key>icon</key>
		<string>item.png</string>
		<key>version</key>
		<string>V2.0.1</string>
		<key>type</key>
		<string>app</string>
		<key>remoteUrl</key>
		<string></string>
		<key>localUrl</key>
		<string></string>
		<key>size</key>
		<integer>8508</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>113</integer>
		<key>identifier</key>
		<string>MRLBSBundle.framework</string>
		<key>name</key>
		<string>LBSBundle</string>
		<key>icon</key>
		<string></string>
		<key>version</key>
		<string>V2.0.1</string>
		<key>type</key>
		<string>lib</string>
		<key>remoteUrl</key>
		<string></string>
		<key>localUrl</key>
		<string></string>
		<key>size</key>
		<integer>8518</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>114</integer>
		<key>identifier</key>
		<string>MRAddressBookTest.framework</string>
		<key>name</key>
		<string>MRAddressBookTest</string>
		<key>icon</key>
		<string>item.png</string>
		<key>version</key>
		<string>V2.0.1</string>
		<key>type</key>
		<string>app</string>
		<key>remoteUrl</key>
		<string></string>
		<key>localUrl</key>
		<string></string>
		<key>size</key>
		<integer>8528</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>115</integer>
		<key>identifier</key>
		<string>MyProject.framework</string>
		<key>name</key>
		<string>MyProject</string>
		<key>icon</key>
		<string>item.png</string>
		<key>version</key>
		<string>V2.5.1</string>
		<key>type</key>
		<string>app</string>
		<key>remoteUrl</key>
		<string></string>
		<key>localUrl</key>
		<string></string>
		<key>size</key>
		<integer>8528</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>116</integer>
		<key>identifier</key>
		<string>Calendar.framework</string>
		<key>name</key>
		<string>CalendarBundle</string>
		<key>icon</key>
		<string>item.png</string>
		<key>version</key>
		<string>V2.5.1</string>
		<key>type</key>
		<string>app</string>
		<key>remoteUrl</key>
		<string></string>
		<key>localUrl</key>
		<string></string>
		<key>size</key>
		<integer>8527</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>117</integer>
		<key>identifier</key>
		<string>Camera.framework</string>
		<key>name</key>
		<string>Camera</string>
		<key>icon</key>
		<string>item.png</string>
		<key>version</key>
		<string>V2.0.1</string>
		<key>type</key>
		<string>app</string>
		<key>remoteUrl</key>
		<string></string>
		<key>localUrl</key>
		<string></string>
		<key>size</key>
		<integer>8527</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>118</integer>
		<key>identifier</key>
		<string>Login.framework</string>
		<key>name</key>
		<string>Login</string>
		<key>icon</key>
		<string></string>
		<key>version</key>
		<string>V1.0.1</string>
		<key>type</key>
		<string>app</string>
		<key>remoteUrl</key>
		<string></string>
		<key>localUrl</key>
		<string></string>
		<key>size</key>
		<integer>8524</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>119</integer>
		<key>identifier</key>
		<string>Map.framework</string>
		<key>name</key>
		<string>Map</string>
		<key>icon</key>
		<string>item.png</string>
		<key>version</key>
		<string>V1.1.1</string>
		<key>type</key>
		<string>app</string>
		<key>remoteUrl</key>
		<string></string>
		<key>localUrl</key>
		<string></string>
		<key>size</key>
		<integer>8524</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>120</integer>
		<key>identifier</key>
		<string>QuickResponseCode.framework</string>
		<key>name</key>
		<string>BarcodeBundle</string>
		<key>icon</key>
		<string>item.png</string>
		<key>version</key>
		<string>V1.1.1</string>
		<key>type</key>
		<string>app</string>
		<key>remoteUrl</key>
		<string></string>
		<key>localUrl</key>
		<string></string>
		<key>size</key>
		<integer>8524</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>121</integer>
		<key>identifier</key>
		<string>VideoTest.framework</string>
		<key>name</key>
		<string>VideoTest</string>
		<key>icon</key>
		<string></string>
		<key>version</key>
		<string>V1.1.1</string>
		<key>type</key>
		<string>app</string>
		<key>remoteUrl</key>
		<string></string>
		<key>localUrl</key>
		<string></string>
		<key>size</key>
		<integer>8524</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>122</integer>
		<key>identifier</key>
		<string>AudioTest.framework</string>
		<key>name</key>
		<string>AudioTest</string>
		<key>icon</key>
		<string></string>
		<key>version</key>
		<string>V1.0.1</string>
		<key>type</key>
		<string>app</string>
		<key>remoteUrl</key>
		<string></string>
		<key>localUrl</key>
		<string></string>
		<key>size</key>
		<integer>8524</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>123</integer>
		<key>identifier</key>
		<string>BaiduMap.framework</string>
		<key>name</key>
		<string>BaiduMap</string>
		<key>icon</key>
		<string>item.png</string>
		<key>version</key>
		<string>V1.0.1</string>
		<key>type</key>
		<string>app</string>
		<key>remoteUrl</key>
		<string></string>
		<key>localUrl</key>
		<string></string>
		<key>size</key>
		<integer>85231</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>124</integer>
		<key>identifier</key>
		<string>AMap.framework</string>
		<key>name</key>
		<string>AMapBundle</string>
		<key>icon</key>
		<string>item.png</string>
		<key>version</key>
		<string>V1.0.1</string>
		<key>type</key>
		<string>app</string>
		<key>remoteUrl</key>
		<string></string>
		<key>localUrl</key>
		<string></string>
		<key>size</key>
		<integer>85221</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>125</integer>
		<key>identifier</key>
		<string>MRShake.framework</string>
		<key>name</key>
		<string>MRShake</string>
		<key>icon</key>
		<string>item.png</string>
		<key>version</key>
		<string>V1.0.1</string>
		<key>type</key>
		<string>lib</string>
		<key>remoteUrl</key>
		<string></string>
		<key>localUrl</key>
		<string></string>
		<key>size</key>
		<integer>85121</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>128</integer>
		<key>identifier</key>
		<string>Video.framework</string>
		<key>name</key>
		<string>Video</string>
		<key>icon</key>
		<string></string>
		<key>version</key>
		<string>V1.0.1</string>
		<key>type</key>
		<string>lib</string>
		<key>remoteUrl</key>
		<string></string>
		<key>localUrl</key>
		<string></string>
		<key>size</key>
		<integer>8121</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>129</integer>
		<key>identifier</key>
		<string>Audio.framework</string>
		<key>name</key>
		<string>Audio</string>
		<key>icon</key>
		<string></string>
		<key>version</key>
		<string>V1.0.1</string>
		<key>type</key>
		<string>lib</string>
		<key>remoteUrl</key>
		<string></string>
		<key>localUrl</key>
		<string></string>
		<key>size</key>
		<integer>8121</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>130</integer>
		<key>identifier</key>
		<string>Chart.framework</string>
		<key>name</key>
		<string>ChartBundle</string>
		<key>icon</key>
		<string>item.png</string>
		<key>version</key>
		<string>V1.0.1</string>
		<key>type</key>
		<string>app</string>
		<key>remoteUrl</key>
		<string></string>
		<key>localUrl</key>
		<string></string>
		<key>size</key>
		<integer>8121</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>131</integer>
		<key>identifier</key>
		<string>ThreadPool.framework</string>
		<key>name</key>
		<string>ThreadPool</string>
		<key>icon</key>
		<string>item.png</string>
		<key>version</key>
		<string>V1.0.1</string>
		<key>type</key>
		<string>lib</string>
		<key>remoteUrl</key>
		<string></string>
		<key>localUrl</key>
		<string></string>
		<key>size</key>
		<integer>8121</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>132</integer>
		<key>identifier</key>
		<string>ThreadPoolTest.framework</string>
		<key>name</key>
		<string>ThreadPoolTest</string>
		<key>icon</key>
		<string>item.png</string>
		<key>version</key>
		<string>V1.0.1</string>
		<key>type</key>
		<string>app</string>
		<key>remoteUrl</key>
		<string></string>
		<key>localUrl</key>
		<string></string>
		<key>size</key>
		<integer>8121</integer>
	</dict>
    <dict>
        <key>id</key>
        <integer>133</integer>
        <key>identifier</key>
        <string>MRNetworkTest.framework</string>
        <key>name</key>
        <string>MRNetworkTest</string>
        <key>icon</key>
        <string>item.png</string>
        <key>version</key>
        <string>V1.0.1</string>
        <key>type</key>
        <string>app</string>
        <key>remoteUrl</key>
        <string></string>
        <key>localUrl</key>
        <string></string>
        <key>size</key>
        <integer>81211</integer>
    </dict>
</array>
</plist>
